form
    {
        
        border-radius: 25px;
        width: 50%;
        
        font-size: 20px;
        
    }
   
    #username
    {
        
        width: 300px;
        
        /*border: solid 1px red;*/
       
    }
    #password
    {
        width: 300px;
        
       
     
    }
    