form
    {
        border-radius: 25px;
        width: 50%;
        
        font-size: 20px;
    }
    #username
    {
        width: 250px;
        
       
    }
    #password
    {
        width: 300px;
        padding-left: 20px;
       
     
    }